.footer{
    margin-top:140px;

    font-family: didot;
    font-size:12px;
    
    padding: 40px 0;
    background:#1e1e1e;
    color:#fff;
}

.container{
    display:flex;
    justify-content:flex-end;
    padding:0 25px;
}

.wrapper{
    min-width:325px;
}

.title{
    line-height:1.6;
}